logs/
*.log
redundant/
*.pem

# rawdata 전체는 무시하되, 특정 파일들만 예외
rawdata/*.csv
rawdata/events_partitioned/platform=1/
rawdata/events_partitioned/platform=2/
rawdata/events_partitioned/platform=3/

rawdata/page_views_partitioned/platform=1/
rawdata/page_views_partitioned/platform=2/
rawdata/page_views_partitioned/platform=3/

# Python 관련
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 환경 설정
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.cfg


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Docker 볼륨 데이터
kafka-data-*

# 임시 파일
*.tmp
*.bak
.DS_Store
Thumbs.db 